$icomoon-font-family: "alvidir" !default;
$icomoon-font-path: "https://alvidir.github.io/fonts/alvidir/source" !default;

$icon-alvidir: "\e902";
$icon-greek-pillar: "\e900";
$icon-greek-temple: "\e901";

