@font-face {
  font-family: 'alvidir';
  src:  url('https://alvidir.github.io/fonts/source/alvidir.eot?q56ft0');
  src:  url('https://alvidir.github.io/fonts/source/alvidir.eot?q56ft0#iefix') format('embedded-opentype'),
    url('https://alvidir.github.io/fonts/source/alvidir.ttf?q56ft0') format('truetype'),
    url('https://alvidir.github.io/fonts/source/alvidir.woff?q56ft0') format('woff'),
    url('https://alvidir.github.io/fonts/source/alvidir.svg?q56ft0#alvidir') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'alvidir' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-greek-pillar-outline:before {
  content: "\e900";
}
.icon-greek-temple-outline:before {
  content: "\e901";
}
